@font-face {
	font-family: 'Oswald';
	src: local('Oswald'), url('../Fonts/Oswald/static/Oswald-Regular.ttf') format('truetype');
}

.Oswald-Regular {
	font-family: 'Oswald';
  color: #000000;
    text-align: center;
    /* height: 75px; */
  font-size: 20px;
}

@font-face {
	font-family: 'Oswald-Bold';
	src: local('Oswald-Bold'), url('../Fonts/Oswald-Bold.ttf') format('truetype');
}

.Oswald-Bold {
	font-family: 'Oswald-Bold';
  color: #000000;
    text-align: center;
    /* height: 75px; */
  font-size: 20px;
}

.Oswald-Bold_title {
	font-family: 'Oswald-Bold';
  color: #310b34;
    text-align: center;
    /* height: 75px; */
  font-size: 40px;
}

@font-face {
	font-family: 'Abril_Fatface';
	src: local('Abril_Fatface'), url('../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
}

.Abril_Fatface {
	font-family: 'Abril_Fatface';
  color: #000000;
    text-align: center;
    /* height: 75px; */
  font-size: 20px;
}

.Abril_Fatface_header {
	font-family: 'Abril_Fatface';
  color: #000000;
    text-align: center;
    /* height: 75px; */
  font-size: 45px;
}

.Abril_Fatface_header2 {
	font-family: 'Abril_Fatface';
  color: #000000;
    text-align: center;
    /* height: 75px; */
  font-size: 25px;
}

.Abril_Fatface_title {
	font-family: 'Abril_Fatface';
  color: #f69101;
    text-align: center;
    /* height: 75px; */
  font-size: 40px;
}

.container {
  display: flex;
  align-items:center;
  justify-content: center;
}

header{
  /* width: 100vw; */
  /* height: 300px; */
  /* height: 200px; */
  /* display: flex; */
  display: grid;
  justify-content: center;
  align-items: center;
  }

  .db_graphics {
    height: 75px;
    width: 500px;
  }

.header_banner {
    background-image: linear-gradient(to bottom right, #9d9ddd, white);
  /* background-size: 800% 800%; */
    /* animation: gradient 15s ease infinite; */
    /* height: 100vh; */
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5%;
  }

  .footer_banner {
    background-image: linear-gradient(to bottom right, #9d9ddd, white);
  /* background-size: 800% 800%; */
    /* animation: gradient 15s ease infinite; */
    height: 20vh;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
  }

  body {
    background-image: linear-gradient(to bottom right, #d3ceeb, white);
    animation: gradient 15s ease infinite;
    background-size: 1400% 1400%;
      animation: gradient 15s ease infinite;
      height: 100vh;
      margin: 0px;
      min-height: 100vh;
display: flex;
flex-direction: column;
  
  }
      @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  .video-container {
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    width: 100%;
    
    /* height: 728px; */
    /* overflow: hidden; */
    margin-bottom: -25px;
    object-fit: cover;
    /* aspect-ratio: 16/9; */
    height: auto;
  max-width: 100%;
  min-width: 100px;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 10%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

h1 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    /* height: 75px; */
  font-size: 50px;
}

h2 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    /* height: 75px; */
  font-size: 25px;
}

h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  /* height: 75px; */
font-size: 40px;
}

p {
  font-family: "Raleway", Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  /* height: 50px; */
font-size: 20px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

.column2 {
  float: right;
  width: 50%;
  padding: 10px;
}

.column2 img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul.list {
  font-family: 'Oswald';
  color: rgb(0, 0, 0);
  /* text-align: center; */
  display: inline-block;
  text-align: left;
  /* height: 50px; */
font-size: 20px;
}

.container_list {
  text-align: center;
}

.bordertext_about {
  /* margin-top: 60px; */
  /* margin-bottom: 100px; */

  /* margin-right: 150px;
  margin-left: 80px; */

  /* max-width: 40em; */

  /* max-width: 100%; */
  padding: 1em;
}

/* img {
  height: 500px;
  width: 500px;
} */

img {
  height: auto;
  max-width: 100%;
  min-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contactform {
  /* height: auto; */
  height: 811px;
  max-width: 100%;
  min-width: 100px;
}

.aboutimage {
  height: 400px;
  width: 400px;
  display: block;
  margin: 0 auto;
}

.projects {
  height: 400px;
  width: 400px;
  display: block;
  margin: 0 auto;
}

.projects_wide {
  width: 50%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.projectimage {
  display: block;
  margin: 0 auto;
}

.analogillustration {
  /* height: 620px; */
  /* width: 1209px; */
  height: auto;
  width: 70%;
  max-width: 100%;
  min-width: 100px;
  display: block;
  margin: 0 auto;
}

.image_example {
  /* height: 620px; */
  /* width: 1209px; */
  height: auto;
  /* width: 50%; */
  max-width: 100%;
  min-width: 100px;
  display: block;
  margin: 0 auto;
}

.posterbanner {
  display: block;
  margin: 0 auto;
}


/* transitions.css */

/* a:link {
  transition: color 0.5;
}

.projects {
  opacity: 0.25;
  transition: opacity 500ms;
}

.projects:hover {
  opacity: 1;
} */
/* challenge */

/* figure{
  position: relative;
}

figure .projects{
  position: absolute;
  top: 0;
  left: 0;
}

figure .visible{
  opacity: 1;
}

figure .hidden{
  opacity: 0;
}

figure:hover .hidden{
  opacity: 1;
}

figure.hover .visible{
  opacity: 0;
} */

/* Image zooming up when you hover towards it */

#neck, .projects, .projects_wide, #arrow {
  transition: transform 0.5s;
}

.projects:hover {
  transform: scale(1.2);
}

.projects_wide:hover {
  transform: scale(1.2);
}

/* solution */

a {
  font-family: 'Oswald';
  
  text-align: center;
  /* height: 100px; */
/* line-height: 0px; */
font-size: 20px;
}

.links {
  font-family: 'Oswald';
  
  text-align: center;
  /* height: 100px; */
/* line-height: 0px; */
font-size: 20px;
}

a:hover,
  a:focus {
    color: rgba(236, 121, 66, 1);
    text-decoration: none;
    background-color: rgba(240, 240, 240, 0.15);
  }

  button:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }
  
  a:active {
    color: rgba(151, 193, 234, 0.85);
  }

  #list a.complete {
    background-color: rgb(99 32 32 / 1);
  }

  iframe {
    display: block;
    margin: 0 auto;
    box-shadow: 10px 10px 4px #797979;
 }

 .referlink {
  display: block;
  margin: 0 auto;
 }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }